// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

.show-info {
    .info {
        border: 2px solid #ced4da;
        padding: 10px;
        background-color: #212529;
        color: #fff;
    }
    
}
.border-form {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 12px;
}

.index {
    // style
    .btn-danger {
        color: #fff;
    }
}
.index-style {
    vertical-align: middle;
}

.card-container-custom {
    display: flex;
    .card-max-height {
        height: 125px;
        overflow: hidden;
    }
}
.separator {
    height: 1px;
    background-color:rgba(0, 0, 0, 0.125);;
}

.bg-white {
    background-color: #fff;
}